#vies{
    margin-left:820px;
    margin-top: 50px;
}

#cv{
    position:absolute;
}

#tabVies{
    background-color: #0033FF;
    border:1px solid black;
    text-align: center;
}

td{
    border:1px solid black;
    padding : 2px;
}

body{
    background-color : #545454;
    color : white;
}

canvas{
    background-color : white;
}

h1{
    text-align: center;
}

h3{
    padding-left: 30px;   
}

#carre{
    position:absolute;
    width:30px;
	height:30px;
    top:75px;
	left:760px;
}

#tete{
    position:absolute;
    width:10px;
	height:30px;
    top:75px;
	left:790px;
}

#inv{
    position:absolute;
    top:510px;
}